 .u-section-1 {
  background-image: url("images/image3.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 544px;
}

.u-section-1 .u-image-1 {
  width: 509px;
  height: 343px;
  margin: 71px auto 0 61px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: -219px 71px 60px 616px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 38px;
    margin-left: 487px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 70px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 415px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 38px;
    margin-left: 87px;
    font-size: 1.6666666666666665rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 229px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
}