 .u-section-1 {
  min-height: 573px;
}

.u-section-1 .u-image-2 {
  width: 469px;
  height: 300px;
  margin: 80px auto 0 calc(((100% - 1140px) / 2)  + 26px);
}

.u-section-1 .u-text-1 {
  margin: -193px calc(((100% - 1140px) / 2)  + 31px) 60px calc(((100% - 1140px) / 2)  + 531px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 406px;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2) + 26px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 362px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 335px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 33px;
    margin-left: calc(((100% - 720px) / 2)  + -11px);
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -252px;
    margin-right: 0;
    margin-left: calc(((100% - 720px) / 2)  + 465px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 233px;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2) + -11px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 285px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 305px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 217px;
    margin-top: 79px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: -285px;
    margin-left: auto;
    margin-right: auto;
  }
}